Player 1 is: <%= @player_1_name %><br/>
Player 1 Hit Points: <%= @player_1_hitpoints%><br/>
Player 2 is: <%= @player_2_name %><br/>
Player 2 Hit Points: <%= @player_2_hitpoints%>

<form action='/attackplayer1'>
<br/><input type="submit" value='Attack Player 1'>
</form>
