Player 1 is: <%= @player_1_name %><br/>
Player 1 Hit Points:<br/>
Player 2 is: <%= @player_2_name %><br/>
Player 2 Hit Points:

<form action='/attack'>
<br/><input type="submit" value='Attack Player 2'>
</form>
